/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
}
@theme{
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --animate-fade-in: fade-in 0.5s ease-in-out;

  @keyframes fade-in {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

@plugin "daisyui" {
   themes: light --default, dark --prefersdark, synthwave;
 }

